body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.box{
    height: 8rem;
    width: 8rem;
    background-image: linear-gradient(180deg,black 0%,rgb(168, 200, 201) 50%);
    }
    

body{
    background-color: #ffffff;
}


.hidden{
    visibility: hidden;
}


#about-video-show{
    visibility:visible;
}
#biography{
    height:100vh;
}
#statement{
    height:auto;
}
.offcanvas{
    border-radius: 15px;
}
#my-palette{
    width: 100vw;
  
}

.homepage-video-container{
    height: 100%;
}


#logo{
    height:150px;
    width: auto;
}
.tomorrow-thin {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.tomorrow-thinner {
  font-family: "Tomorrow", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
}
#palette-1{
    background-color:#fafa33;
}
#about-me{
    color: black;
    background-color:#FAFA33;
}
#palette-2{
    background-color: #231F20;
    color: rgb(255, 255, 255);
}
#work{
   background-image: url("media/website_work_poly1.jpg");
   background-size: cover;
   background-position:center;
}

#palette-3{
    background-color: #e30022;
}
#process{
    background-color: #e30022;
}
#palette-4{
    background-color:#003153 ;
    color: #ffffff;
}
#process-video{
        display: flex;
        justify-content: center;
        height: 28rem;
        margin:auto;
       
    }
.rotate{
    transform:rotate(-90deg)
   }
.pad-palette{
    margin-bottom:7%;
}

#about-me-image-lg{
    margin-top:15rem;
    margin-left: auto;
    margin-right: auto;
    height:14rem;
     
    }

#about-me-image{
    margin:auto;
    height:14rem;
     
    }
#hero{
    margin:auto;
}

#work-intro{
   background-color:#6dbef8;
   }
#see-more-container-link{
    margin:auto;
}

#footer{
    height:50vh;
    background-color:#a5402f39 ;
}
.center{
    margin:auto;
}
.work-image{ 
    padding: 2rem;
    height: 20rem;
    margin: auto;

    }
#sold-icon{
    animation:flicker 1s infinite;
    height:0.8rem ;
    width:0.8rem ;
    border-radius: 50%;
}

@keyframes flicker{
    0%, 100%{opacity:1;}
    50%{opacity:0.3}
}
#spane-1{
    background-image: url("./media/work_background.jpg");
    background-size: cover;
    background-position-y: 40%;
    background-position-x: center;
}
 #spane-2{
        
        margin-top:5rem;
        margin-bottom:5rem;
    }
 #spane-3{
        
        margin-top:5rem;
        margin-bottom:5rem;
    }
#process-intro{
    background-color:#e97451;
}
#process-canvas{
    height:auto;
    width:100%;
    
}

#process-1{
        background-size: cover;
        background-image: url("media/process_canvas.jpg");
        background-position:40% ;
        background-position-y: 40%;

    }
#process-raw-image{
    height: 18rem;
    margin-top:4rem;
}
#process-stretcher-image{
    height: 18rem;
    margin-top:4rem;
    
}
#exhibitions-1{
    padding-top: 8rem;
    background-color: #e30022;
}
#contact-1{
    padding-top: 8rem;
    background-color: #cd5c5c;
}
#about-intro{
    background-color: #4afa33;
}

#biography{
    background-color:#FAFA33;
    height: max-content;
} 
#about-video{
        height:30rem;
        margin:auto;
        
    }

@media(max-width:640px){

    
    #logo{
    height:5rem;
    width: auto;
    }
    #offcanvas-logo{
    height: 90px;
    }

    #offset-about{
    height:3.5rem;
    padding:5px;
    }

    #offset-work
    {
    height:3rem;
    padding:5px;
    }

    #offset-exhibitions{
    height:2.8rem;
    padding:5px;
    }

    #offset-process{
    height:3.2rem;
     padding:5px;
    }

    #offset-contact{
    height:3rem;
     padding:5px;
    }
    hr{
    border: 0px solid rgba(0, 0, 0, 0.11);
    }

    #about-me-image{
    margin:auto;
    height:12rem; 
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #work{ 
       background-image: url("media/website_work_poly.jpg");
       background-size:cover;
       background-position: 64%;
    }
    #process-video{
        display: flex;
        justify-content: center;
        height: 11rem;
        margin:auto;
       
    }

   .nav-hidden{
        opacity:0;
        transition: opacity 0.8s ease-in-out ;
    }
   

   .rotate{
    transform:rotate(-90deg)
   }
    .pad-palette{
    margin-bottom:40%;
    }
   #about-bio{
    margin:auto;
   }
   #about-intro{
    background-color: white;
   }
   #about-intro{
    background-image: url("media/website_about_small_device.jpg");
    background-size: cover;
    background-position-x: 17%;  
   }
  
   #about-intro> #hero> #hero-heading{
    color: #fffffb;
   }
   #about-intro>#hero>p{
    color: #fffffb;
   }
   #process>a{
    padding-top: 4rem;
   }
   #footer{
    height:80vh;
    background-color:#e7dedd39 ;
    }
    #instagram-link{
        width:100%;
    }
    .work-image{
       
        height:auto;
        width:100%;
    

    }
    #spane-1{
    background-image:url("./media/work_background.jpg");
    background-size: cover;
    background-position-y: 40%;
    background-position-x: 60%;
    }
    #spane-2{
        
        margin-top:5rem;
        margin-bottom:5rem;
    }
    #spane-3{
        
        margin-top:5rem;
        margin-bottom:5rem;
    }
    #process-1{
        background-size: cover;
        background-image: url("media/process_canvas.jpg");
        background-position:40% ;

    }
    #process-stretcher-image{
    height: auto;
    margin-top:4rem;
    width: 100%;
    }
    #process-raw-image-container{

        margin:auto;
    }
    #contact-1{
    background-color: #cd5c5c;
    
    }
    #home-container{
        opacity:0;
        animation:fadeIn 1.8s ease-in forwards;
    }
    @keyframes fadeIn {
        from{opacity:0}
        to{opacity:1}
    }
    #sold-icon{
    animation:flicker 1s infinite;
    height:0.7rem ;
    width:0.7rem ;
    border-radius: 50%;
    }

    @keyframes flicker{
        0%, 100%{opacity:1;}
        50%{opacity:0.3}
    }
    #about-video{
        height:auto;
        width:20rem;
        margin:auto;

    }
    #offcanvas-logo{
        margin:auto;
        height:auto;
        width:100%
    }
    #offcanvasNavbar{
        background:linear-gradient(to bottom,white,rgb(255, 255, 255) ,rgba(255, 255, 255, 0.891),rgb(255, 255, 255));
    }

}





